@use './../../../../styles/tokens/colors' as *;
@use './../../../../styles/tokens/effects' as *;
@use './../../../../styles/tokens/typography' as *;



.title {
    @extend .heading-24-ubuntu-bold;
    @extend .whiteText;

    margin-top: 60px;

    @media (min-width: 768px) {
        font-size: 36px;
    }

    @media (min-width: 1280px) {
        font-size: 40px;
    }
}

.headerWrapper {
    display: flex;
    align-items: center;
    column-gap: 10px;
}


.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    width: calc(100% - 20px);

    @media (min-width: 768px) {
        width: calc(100% - 40px);
    }
}

.iconWrapper {
    width: 44px;
    height: 44px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $brand_900;
    border-radius: 10px;

    @media (min-width: 768px) {
        width: 70px;
        height: 70px;
    }
}

.itemTitle {
    @extend .heading-20-ubuntu-bold;
    color: $neutral_400;
    text-transform: uppercase;

    @media (min-width: 768px) {
        font-size: 24px;
    }
}


.accordion {
    width: 100%;
    overflow: hidden;
    margin-top: 20px;

    display: flex;
    flex-direction: column;
    gap: 10px;
}

.accordionItem {
    background-color: $neutral_900;
    border-radius: 15px;
    transition: all 0.2s ease;

    @extend .shadow-splash;

    @media (min-width: 1280px) {
        &:hover {
            background-color: $neutral_800;
        }
    }
}

.accordionHeader {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
    cursor: pointer;

    @media (min-width: 768px) {
        padding: 20px;
    }
}

.accordionContent {
    overflow: hidden;

    transition: all 0.3s ease-in-out;
    max-height: 0;
    
    &.open {
        max-height: 500px;
    }
}


.accordionInner {
    @extend .body-16-ubuntu-bold;
    @extend .line-height-1_5x;
    color: $neutral_200;

    padding: 10px;

    @media (min-width: 768px) {
        font-size: 20px;

        padding: 20px;
        padding-top: 0px;
    }
}

.iconClose {
    transition: all ease-in-out 0.3s;
}

.iconOpen {
    transition: all ease-in-out 0.3s;
    transform: rotate(180deg);
}