@use "./../../assets/styles/__variables" as vars;



.portfolio {
    margin-top: 200px;    
}


.canvasBox {
    width: 100%;
    height: 100%;
    overflow: auto;
    display: flex;
    flex-direction: column;
}

.canvasSection {
    display: flex;
    overflow: auto;
}


.portfolioTitle {
    font-size: vars.$fzBigLabelTwo;   

    margin-bottom: 50px;
}



