@use './../../../../styles/tokens/colors' as *;
@use './../../../../styles/tokens/typography' as *;
@use './../../../../styles/tokens/effects' as *;



.section {
    margin-top: 20px;
}

.inputs {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.textarea {
    @extend .line-height-1_5x;
}

.images {
    margin-top: 20px;
}

.imageWrapper {
    width: 100%;
    position: relative;
    aspect-ratio: 16 / 10;
    flex-shrink: 0;
}

.mainImg {
    border-radius: 20px;
    object-fit: cover;

    @media (min-width: 1280px) {
        border-radius: 15px;
    }
}

.mainImgWrapper {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    overflow: hidden;
    
    @media (min-width: 1280px) {
        border-radius: 15px;
    }
}

.innerShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 15px;
    box-shadow: inset 0px 0px 100px 10px rgba(0, 0, 0, 0.9);
    pointer-events: none;
    z-index: 4;
}

.pgnInnerShadow {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    box-shadow: inset 0px 0px 100px 10px rgba(0, 0, 0, 0.9);
    pointer-events: none;
    z-index: 4;
    border-radius: 6px;

    transition: all ease-in-out 0.2s;

    @media (min-width: 768px) {
        border-radius: 10px;
    }
}

.imagesHeader {
    display: flex;
    flex-direction: column;
    gap: 10px;
    margin-bottom: 15px;

    @media (min-width: 768px) {
        flex-direction: row;
        align-items: baseline;
    }
}

.imagesTitle {
    @extend .body-16-mont-regular;
    color: $neutral_500;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}

.imagesSubTitle {
    @extend .body-14-mont-regular;
    color: $neutral_800;

    @media (min-width: 768px) {
        font-size: 16px;
    }
}


.pgnWrapper {
    display: grid;
    gap: 12px;
    margin-top: 10px;
    
    grid-template-columns: repeat(2, 1fr);
    
    @media (min-width: 768px) {
        grid-template-columns: repeat(4, 1fr);
        gap: 16px;
        margin-top: 20px;
    }
    
    @media (min-width: 1280px) {
        gap: 20px;
    }
}

.pgnImageWrapper {
    position: relative;
    width: 100%;
    overflow: hidden;
    aspect-ratio: 16 / 10; 
    border-radius: 10px;
    cursor: pointer;
    transition: all ease 0.1s;
    
    &:active {
        transform: scale(0.9);
    }

    @media (min-width: 768px) {
        border-radius: 15px;
    }

    @media (min-width: 1280px) {
        &:hover {
            .pgnInnerShadow {
                box-shadow: inset 0px 0px 50px 10px rgba(0, 0, 0, 0.9);
            }

            .wrapperPgnImage {
                transform: scale(1.1);
            }
        }
    }
}

.wrapperPgnImage {
    position: relative;
    border-radius: 10px;
    width: 100%;
    height: 100%;

    @media (min-width: 768px) {
        border-radius: 15px;
    }

    transition: all ease-in-out 0.2s;
}

.pgnImage {
    object-fit: cover;
}

.addImageBtn {
    width: calc(100% - 2px) !important;
    height: calc(100% - 2px) !important;
    aspect-ratio: 16 / 10 !important; 
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 12px !important;

    padding: 0 !important;
}


.deleteImage {
    position: absolute !important;

    top: 10px !important;
    right: 10px !important;

    width: 25px !important;
    height: 25px !important;

    padding: 5px !important;

    z-index: 5 !important;
}


.mainImgBtn {
    position: absolute !important;

    top: 10px !important;
    right: 50px !important;

    height: 25px !important;

    padding: 5px !important;

    z-index: 5 !important;

    p {
        font-size: 14px !important;
    }
}


.curInnerShadow {
    box-shadow: inset 0px 0px 30px 10px rgba(0, 0, 0, 0.9);
}