@use './../../assets/styles/__variables' as vars;



.preview {
    margin-top: 100px;

    position: relative;
}

.specialization {
    font-size: vars.$fzBigLabelOne;
    color: vars.$white;
    text-align: center;

    width: 100%;


    animation: tiltText 4s ease-in-out infinite;

    @keyframes tiltText {
        0%, 100% {
            transform: rotate(-3deg);
        }
        50% {
            transform: rotate(3deg);
        }
    }
}


.specHand {
    position: absolute;
    right: -200px;
    top: 50px;

    mask-image: linear-gradient(to right, black 70%, transparent 100%);
    animation: moveHand 4s ease-in-out infinite;

    @keyframes moveHand {
        0%, 100% {
            transform: rotate(3deg) translateY(-5px);
            top: -5px;
        }
        50% {
            transform: rotate(-3deg) translateY(0px);
            top: 50px;
        }
    }
}


.photoContainer {
    position: relative;

    display: flex;
    align-items: center;
    justify-content: center;
    
    width: 100%;

    margin-top: 50px;
}


.photo {
    position: absolute;
}


.dotted-hand-line {
    width: 95vw;
    height: 100px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);

    path {
        stroke-dasharray: 8 12;
        animation: drawLine 3s infinite;
    }
}

@keyframes drawLine {
    0% {
        stroke-dashoffset: 0;
    }

    100% {
        stroke-dashoffset: 100;
    }
}