@use './../../../styles/tokens/typography' as *;


.uzbContainer, .mskContainer, .kollegeContainer {
    position: relative;
}


.illustationContainer {
    position: relative;
    display: none;
    flex-direction: column;
    margin-bottom: -200px;

    @media (min-width: 1280px) {
        display: flex;
    }
}


.uzbFlag {
    position: absolute;
    top: -50px;
    left: 200px;

    z-index: -3;

    transform: rotate(-5deg);

    width: 180px;
    height: 91px;
}

.text {
    @extend .heading-24-magra-bold;
    @extend .lightText;
}

.uzbIsland {
    width: 300px;
    height: 300px;
}

.uzbTextContainer {
    position: absolute;
    bottom: 50px;
    left: 250px;
} 


.kollegePhoto {
    height: 212px;
    width: 318px;
}


.moscowPhoto {
    width: 331px;
    height: 394px;
}



.uzbText {
    display: flex;
    margin-top: 10px;
}


.uzbWhite {
    color: #FFF;
}


.uzbBlue {
    margin-left: 10px;
    color: #3081F7;
}


.uzbGreen {
    color: #308738;
}


.mskFlag {
    position: absolute;

    top: -50px;
    left: 200px;

    transform: rotate(5deg);

    width: 203px;
    height: 135px;
}


.mskText {
    display: flex;

    position: absolute;
    bottom: 50px;
    left: -300px;
}


.ruBlue {
    color: #0039A6;
}


.ruWhite {
    color: #fff;
    margin-left: 10px;
}


.ruRed {
    color: #D52B1E;
}


.kollegeText {
    position: absolute;

    left: 0px;
    bottom: -10px;
}


.uzbContainer {
    align-self: flex-start;
    width: 600px;
    height: 300px;
}


.mskContainer {
    align-self: flex-end;

    top: -200px;
}


.kollegeContainer {
    align-self: flex-start;
    width: 750px;
    height: 230px;

    top: -300px;
}

.mskContainer {
    width: 300px;
    height: 400px;
}


.connections {
    position: absolute;
    inset: 0;
    width: 100%;
    height: 100%;
    pointer-events: none;

    z-index: -3;
}


.curve {
    fill: none;
    stroke: #5b6cff;
    stroke-width: 3;
    stroke-linecap: round;
    stroke-dasharray: 15 30;
}