/* Colors */
$accent: #431DEA;
$secondary: #6870FF;
$gray: #B3B3B3;
$darkTextColor: #373737;
$lightTextColor: #C4C4C4;
$white: #FFF;
$bgColor: #3D3D3D;
$bgSecondaryColor: #3B3B3B;


/* Font Size */
$fzSmall: 20px;
$fzBigLabelOne: 96px;
$fzBigLabelTwo: 128px;
$fzPhoto: 48px;
$fzMedium: 24px;
$fzSubtitle: 40px;
$fzTextSubtitle: 32px;
$fzBtnStory: 36px; 


/* Font weight */
$thin: 100;
$extra_ligth: 200;
$light: 300;
$regular: 400;
$medium: 500;
$semi_bold: 600;
$bold: 700;
$exta_bold: 800;
$black: 900;
