@use './__variables' as vars;

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}


body {
    display: flex;
    flex-direction: column;

    background-image: url('./../images/noise.png');
    background-size: 100% 100%;
    background-repeat: no-repeat;
    background-color: vars.$bgColor;

    overflow: hidden;
    
    font-family: "Magra", sans-serif;
    font-style: normal;
    font-weight: vars.$bold;
    color: vars.$lightTextColor;
    font-size: vars.$fzMedium;
}


.container {
    max-width: 1040px;   
    min-width: 350px;
    margin: 0 auto;
    width: 100%;

    box-sizing: border-box;
    font-family: inherit;
    font-weight: inherit;
    font-size: inherit;
    color: inherit;
}



.title {
    width: 100%;
    text-align: center;
    align-items: center;

    font-size: vars.$fzSubtitle;
    color: vars.$white;
    text-transform: uppercase;
}


* {
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
}

// Saving quality after scaling
.canvasContent * {
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
}

