@use './../../../../styles/tokens/colors.scss' as *;
@use './../../../../styles/tokens/typography.scss' as *;
@use './../../../../styles/tokens/effects.scss' as *;



.skill {
    padding: 15px;
    border-radius: 15px;

    &:active {
        cursor: grabbing;
    }

    @media (min-width: 768px) {
        padding: 20px;
    }
}

.content {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

    margin-top: 15px;
}


.inputWrapper {
    display: flex;
    align-items: center;
    gap: 20px;
}

.firstLineWrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
}

.secondLineWrapper {
    display: flex;
    align-items: center;
    gap: 10px;
    margin-left: 25px;
    margin-top: 20px;

    @media (min-width: 768px) {
        margin-left: 0px;
        margin-top: 0px;
    }

    @media (min-width: 900px) {
        gap: 20px;
    }
}


.deleteBtn {
    padding: 10px;
}

.skillLevel {
    gap: 5px;
}

.skillLevelItem {
    width: 10px;
    height: 5px;
}
