@use "./../../assets/styles/__variables.scss" as vars;

.canvasWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 4px;

	box-shadow: inset 0px 0px 40px 30px rgba(0, 0, 0, 0.5);
}

.canvasContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    user-select: none;
}


.canvasContent {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
    will-change: transform;
    
    @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
        image-rendering: auto;
    }
}

.zoomInfo {
    position: absolute;
    bottom: 20px;
    right: 20px;
    background: linear-gradient(
        135deg,
        rgba(46, 46, 46, 0.2) 0%,
        rgba(255, 255, 255, 0.05) 100%
    );
    backdrop-filter: blur(2px);
    color: white;
    padding: 6px 12px;
    font-weight: vars.$medium;
    border-radius: 4px;
    font-size: 14px;
    font-family: 'Montserrat';
    pointer-events: none;
    z-index: 1000;
}


.canvasManual {
    position: absolute;

    bottom: 0;
    left: 0;

    width: 600px;
    height: 200px;
    
    border-top-right-radius: 25px;


    background: linear-gradient(
        135deg,
        rgba(46, 46, 46, 0.2) 0%,
        rgba(255, 255, 255, 0.05) 100%
    );
    backdrop-filter: blur(2px);
    border: 1px solid rgba(0, 0, 0, 0.2);
    box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);

    font-size: vars.$fzSmall;
    color: white;
    font-family: 'Montserrat';
    font-weight: vars.$medium;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 50px;

}


.manualElement {
    display: flex;
    align-items: center;
    column-gap: 15px;

}


.manualKey {
    background: vars.$accent;
    border-radius: 5px;

    padding: 10px 20px;
}


.closeManual {
    position: absolute;

    top: 15px;
    right: 25px;

    font-size: 48px;

    font-weight: vars.$regular;

    cursor: pointer;
}