@use './../../assets/styles/__variables' as vars;



.contacts {
    margin-top: 100px;

    position: relative;
}

.contactsForm {
     width: 600px;

    margin: 0 auto;
    margin-top: 80px;
}


.fieldsContainer {
    display: flex;
    flex-direction: column;
    row-gap: 60px;


    input {
        padding-bottom: 15px;
    }
}


.contactsField {
    border-bottom: 2px solid vars.$gray;
}




.contactsSubmitBtn {
    position: relative;
    float: right;
    margin-top: 60px;
    cursor: pointer;
    transition: transform 0.3s ease;
    
    &:hover {
        transform: scale(1.05);
        
        img {
            filter: brightness(1.2);
            transform: scale(1.02);
        }
        
        .contactsSubmitBtnText {
            transform: translateY(-2px);
            text-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
        }
    }
    
    &:active {
        transform: scale(0.95);
        transition: transform 0.1s ease;
        
        img {
            filter: brightness(0.9);
        }
        
        .contactsSubmitBtnText {
            transform: translateY(2px);
        }
    }
    
    img {
        transition: all 0.3s ease;
        display: block;
    }
}

.contactsSubmitBtnText {
    position: absolute;
    top: 17px;
    left: 80px;
    font-size: vars.$fzTextSubtitle;
    color: vars.$white;
    transition: all 0.3s ease;
    pointer-events: none;
    white-space: nowrap;
} 


.characterContainer {
    position: absolute;

    right: -700px;


    transform: rotate(-15deg);


    animation: gentleSway 3s ease-in-out infinite;

    @keyframes gentleSway {
        0% {
            transform: rotate(-15deg);
        }
        50% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(-15deg); 
        }
    }
}


.skillCharacter {
    width: 310px;
    height: 465px;
}


.skillJaw {
    position: absolute;

    width: 77px;
    height: 64px;

    top: 265px;
    left: 115px;

    animation: jawMove 0.3s ease-in-out infinite alternate;

    @keyframes jawMove {
        0% {
            top: 265px;   
        }
        100% {
            top: 285px;   
        }
    }
}


.skillIndexFinger {
    position: absolute;

    width: 194px;
    height: 216px;

    left: -150px;
    top: 250px;

    transform-origin: 20% 80%;

    animation: handAnim 0.3s ease-in-out infinite alternate;

    @keyframes handAnim {
        0% {
            transform: rotate(18deg);  
        }
        100% {
            transform: rotate(-18deg);   
        }
    }
}


.skillTextCloud {
    position: absolute;

    top: 330px;
    left: 150px;

    font-family: 'Montserrat';
    color: vars.$darkTextColor;
}


.contactsField--error {
    border-bottom: 1px solid rgb(251, 109, 109);
}


.contactsSubmitBtnText--error {
    opacity: 0.5;
}


.contactsCharacterContainer {
    position: absolute;

    opacity: 0;
    transform: scale(0) rotate(180deg) translateY(50px);
    filter: blur(15px) brightness(2);
}

.contactsCharacterContainer.animate {
    animation: portalAppear 4s cubic-bezier(0.34, 1.56, 0.64, 1) forwards;
    
    @keyframes portalAppear {
        0% {
            opacity: 0;
            transform: scale(0) rotate(180deg) translateY(50px);
            filter: blur(15px) brightness(2);
        }
        30% {
            opacity: 0.3;
            transform: scale(0.3) rotate(120deg) translateY(30px);
            filter: blur(10px) brightness(1.5);
        }
        60% {
            opacity: 0.7;
            transform: scale(0.8) rotate(30deg) translateY(10px);
            filter: blur(5px) brightness(1.2);
        }
        85% {
            opacity: 0.9;
            transform: scale(1.05) rotate(-5deg) translateY(-2px);
            filter: blur(2px) brightness(1.1);
        }
        100% {
            opacity: 1;
            transform: scale(1) rotate(-15deg) translateY(0);
            filter: blur(0) brightness(1);
        }
    }
}