@use './../../../../styles/tokens/colors' as *;
@use './../../../../styles/tokens/effects' as *;
@use './../../../../styles/tokens/typography' as *;



.slider {
    width: calc(100% - 32px);
    max-width: 1041px;
    margin: 40px auto 0;
}

.swiper-slide-active {
    transform: unset !important;; 

}


.sliderItem {
    @extend .radius-12;

    @media (min-width: 768px) {
        width: calc(100% - 60px) !important;
    }
}

@media (max-width: 899px) {
    .sliderItem { width: 100% !important; }
}

@media (min-width: 768px) {
    .slider { width: calc(100% - 64px); }
}

.notFound {
    @extend .heading-24-ubuntu-bold;
    width: 100%;
    text-align: center;

    @media (min-width: 768px) {
        font-size: 48px;
    } 
}
