.main {
    padding-bottom: 100px;
}


.deviceAndTrafficWrapper {
    @media (min-width: 768px) {
        display: flex;
        gap: 20px;
    }
}


.visitAndDeviceWrapper {
    @media (min-width: 1280px) {
        display: flex;
        gap: 20px;

        margin-top: 50px;
    }
}


.quickEditAndTrafficWrapper {
    @media (min-width: 1280px) {
        display: flex;
        gap: 20px;

        margin-top: 20px;
    }
}