@use './../../assets/styles/__variables.scss' as vars;



.projectContent {
    width: 600px;
    height: 600px;

    background: vars.$bgColor;

    border-radius: 25px;
    overflow: hidden;
}


.projectImgWrapper {
    width: 100%;
    height: 340px;

    border-radius: 25px;

    overflow: hidden;
}


.projectImg {
    width: 100%;
}


.projectType {
    font-family: 'Montserrat';
    font-weight: vars.$medium;
    font-size: vars.$fzMedium;

    margin-bottom: 10px;
}


.projectText {
    padding: 20px;
    font-weight: 'Magra';
}


.projectName {
    font-weight: vars.$bold;
    font-size: vars.$fzMedium;
    color: vars.$white;

    margin-bottom: 10px;
}


.projectDescription {
    font-weight: vars.$regular;
    font-size: vars.$fzSmall;
}


.projectStack {
    padding: 20px;

    display: flex;
    column-gap: 10px;
    row-gap: 10px;
    flex-wrap: wrap;
}


.projectStackItem {
    font-size: vars.$fzSmall;
    color: vars.$white;

    padding: 10px 15px;

    background: vars.$accent;
    border-radius: 10px;
}



// Save quality after scaling
.projectElement {
    position: absolute;
    
    transform: translateZ(0);
    -webkit-transform: translateZ(0);
    backface-visibility: hidden;
    -webkit-backface-visibility: hidden;
    
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    
    .projectContent {
        border: 1px solid rgba(255, 255, 255, 0.1);
        box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2);
    }
    
    .projectImg {
        image-rendering: -webkit-optimize-contrast;
        image-rendering: crisp-edges;
        
        @media (-webkit-min-device-pixel-ratio: 2), (min-resolution: 192dpi) {
            image-rendering: auto;
        }
    }
    
    .projectType,
    .projectName,
    .projectDescription,
    .projectStackItem {
        -webkit-font-smoothing: antialiased;
        -moz-osx-font-smoothing: grayscale;
        text-rendering: optimizeLegibility;
    }
}