@use './../../../assets/styles/tokens/typography' as *;
@use './../../../assets/styles/tokens/colors' as *;

.myStack {
    position: relative;

    top: 50px;
}

.stackHandBg {
    position: absolute;

    width: 513px;

    transform: rotate(60deg) scaleX(-1) ;

    left: -200px;
    top: -200px;
    opacity: 0.5;

    z-index: -1;
}


.stackWrapper {
    position: relative;

    border: 1px solid black;

    margin-top: 30px;

    height: 270px;
}


.stackItem {
    @extend .heading-20-magra-bold;
    position: absolute;


    background: $neutral_900;

    padding: 15px;
    border-radius: 5px;

    display: inline-block;
}


@media (min-width: 768px) {
    .stackItem {
        font-size: 24px;

        padding: 25px;

        border-radius: 10px;
    }
}


@media (min-width: 1440px) {
    .stackItem {
        font-size: 40px;

        padding: 35px;

        border-radius: 15px;
    }
}