@use './../../../../styles/tokens/colors' as *;
@use './../../../../styles/tokens/typography' as *;
@use './../../../../styles/tokens/effects' as *;



.customTooltip {
    padding: 10px;

    background-color: $neutral_950;
    stroke: 1px solid rgba($white, 0.15);
    border-radius: 5px;
    @extend .shadow-splash; 

}

.tooltipLabel {
    @extend .body-14-mont-semi_bold;
    @extend .lightText;
    font-size: 10px;
    margin-bottom: 10px;
}

.tooltipValue {
    @extend .body-14-mont-regular;
    @extend .lightText;
    font-size: 10px;
}


.tooltipList {
    display: flex;
    flex-direction: column;
    gap: 8px;
}

.tooltipItem {
    display: grid;
    grid-template-columns: 8px 1fr auto;
    align-items: center;
    gap: 8px;
}

.tooltipMarker {
    width: 8px;
    height: 8px;
    border-radius: 50%;
}

.tooltipName {
    white-space: nowrap;
    @extend .body-14-mont-regular;
    @extend .lightText;
}

.tooltipValue {
    white-space: nowrap;
}