@use './../../../styles/tokens/colors' as *;
@use './../../../styles/tokens/effects' as *;
@use './../../../styles/tokens/typography' as *;




.photoContainer {
    @media (min-width: 1280px) {
        width: 50%;
    }
}

.projectWrapPhoto {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; 
    border-radius: 20px;
    overflow: hidden;
    cursor: pointer;
    &::after {
        content: '';
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        border-radius: 20px;
        box-shadow: inset 0px 0px 22.9px 13px rgba(0, 0, 0, 0.51);
        pointer-events: none;
        z-index: 2;
    }
}

.projectPhoto {
    object-fit: cover;
}

.pagination {
    @media (min-width: 1280px) {
        display: none;
    }
}