@use './../../../styles/tokens/colors' as *;
@use './../../../styles/tokens/typography' as *;





.skills {
    display: flex;
    justify-content: center;
    
    
    @media (min-width: 500px) {
        margin-top: -30px;
    }

    @media (min-width: 768px) {
        margin-top: 100px;
    }
}


.skillsWrapper {
    display: flex;
    flex-direction: column;
    row-gap: 20px;
}

.skillsWrapper-anim {
    @media (min-width: 1280px) {
        animation: growElastic 3s cubic-bezier(0.68, -0.55, 0.265, 1.55) forwards;
    }
    
    @keyframes growElastic {
        0% {
            width: 0;
            border-width: 0;
        }
        20% { 
            width: 100px; 
            border-width: 1px; 
        }
        40% { 
            width: 200px; 
        }
        60% { 
            width: 250px; 
        }
        80% { 
            width: 290px; 
        } 
        90% { 
            width: 380px; 
        } 
        95% { 
            width: 390px; 
        } 
        100% {
            width: 403px;
            opacity: 1;
            border-width: 1px;
            padding: 30px;
        }
    }
}


.skillItem {
    display: flex;
    flex-direction: column;
    row-gap: 5px;
}


.skillItemName, .skillScore {
    @extend .body-16-magra-bold;
    @extend .lightText;

    @media (min-width: 768px) {
        font-size: 32px;
    }

    @media (min-width: 1280px) {
        font-size: 40px;
    }
}


.skillLevel {
    display: flex;
    align-items: center;
    column-gap: 10px;
}


.skillLevelWrapper {
    display: flex;
    column-gap: 5px;
}


.skillLevelItem {
    width: 20px;
    height: 5px;

    background-color: $neutral_300;

    border-radius: 1px;
}


.skillLevelItem--filled {
    background-color: $brand_600;
}

.vertex, 
.cursor {
    display: none;
}


@media (min-width: 430px) {
    .skillsWrapper {
        border: 1px #0077FF solid;
        padding: 30px;

        position: relative;    
    }


    .vertex {
        position: absolute;
        display: block;

        width: 10px;
        height: 10px;
    }


    .vertex-1 {
        top: -5px;
        left: -5px;
    }

    .vertex-2 {
        bottom: -5px;
        right: -5px;
    }

    .vertex-3 {
        bottom: -5px;
        left: -5px;
    }

    .vertexSelected {
        top: -10px;
        right: -10px;

        width: 15px;
        height: 15px;
    }

    .cursor {
        position: absolute;
        display: block;

        top: 0;
        right: -35px;

        width: 40px;
        height: 40px;
    }
}



@media (min-width: 768px) {
    .skillItemName, .skillScore {
        font-size: 1.5rem;
    }

    .skillLevelItem {
        width: 30px;
        height: 10px;

        border-radius: 2px;
    }
}



.avatarWrapper {
    animation: gentleSway 3s ease-in-out infinite;

    @keyframes gentleSway {
        0% {
            transform: rotate(-15deg);
        }
        50% {
            transform: rotate(-10deg);
        }
        100% {
            transform: rotate(-15deg); 
        }
    }
}