@use './../../../assets/styles/tokens/typography';




.decorBtn {
    position: relative;

    transition: transform .2s;
    cursor: pointer;

    .decorBtnIconPosition_default {
        transition: all ease-in-out 1s;
        bottom: -100px;
        right: -50px;
        transform: rotate(0);

        pointer-events: none;
}

    &:hover {
        .decorBgBtnBig_default {
            @media (min-width: 768px) {
                transition: filter ease-in-out .2s;
                filter: brightness(3);
            }
        }

        .decorBtnIconPosition_default {
            @media (min-width: 768px) {
                bottom: 100px;
                right: 40%;
                transform: rotate(-90deg);
            }
        }
    }

    &:active {
        transform: translateY(3px);

        .decorBgBtnBig {
            transition: all .2s;
            opacity: 0.9;
        }
    }
}

.decorBtn_loading {
    pointer-events: none; 
    cursor: not-allowed;
}

.decorBtn_disabled {
    pointer-events: none; 
    cursor: not-allowed;
    opacity: 0.5;
}

.decorBtn--aboutMe {
    margin-top: 30px;
}

.decorBgBtnBig_big {
    width: 100%;
    height: 193px;
};

.decorBgBtnBig_medium {
    width: 100%;
    height: 120px
};

.decorBgBtnBig_small {
    width: 100%;
    height: 80px;
};



.textDecorBtn {
    width: 100%;

    position: absolute;
    text-align: center;

    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
};

.textDecorBtn_big {
    @extend .heading-36-magra-bold;
};

.textDecorBtn_medium {
    @extend .heading-24-magra-bold;
};

.textDecorBtn_small {
   @extend .body-16-magra-bold;
};

    


.decorBtnIcon {
    position: absolute;
    
}

.decorBtnIcon_big {
    width: 194px;
}

.decorBtnIcon_medium {
    width: 120px;
}

.decorBtnIcon_small {
    width: 54px;
}

.decorBtnIcon_withIcon {
    display: block;
}

.decorBtn_noIcon,
.decorBtnIconPosition_loading,
.decorBtnIconPosition_disabled {
    display: none;
}


.decorBtnIconPosition_hover {
    display: none;
    
    @media (min-width: 768px) {
        display: block;
    }
}

.decorBtnIconPosition_default {
    display: none;

    @media (min-width: 768px) {
        display: block;
        bottom: -100px;
        right: -50px;
    }
}



.btnLoader {
    position: absolute;
    top: 50%;
    left: 50%;

    animation: spin 0.6s ease-in-out infinite;
}

@keyframes spin {
    from {
        transform: translate(-50%, -50%) rotate(0);
    }

    to {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

.btnLoader_big {
    width: 64px;
    height: 64px;
}

.btnLoader_medium {
    width: 44px;
    height: 44px;
}

.btnLoader_small {
    width: 24px;
    height: 24px;
}

.decorBgBtnBig_loading {
    filter: brightness(3);
}


.decorBtnLabel {
    position: absolute;

    width: 100%;

    text-align: center;

    bottom: 0px
}

.decorBtnLabel_big {
    @extend .heading-20-magra-bold;
};

.decorBtnLabel_medium {
    @extend .body-16-magra-bold;
};

.decorBtnLabel_small {
    @extend .body-14-magra-regular;
};