@use './../../../../styles/tokens/colors' as *;
@use './../../../../styles/tokens/effects' as *;



.background {
    width: calc(100% - 31px * 2);
    padding: 15px;
    min-height: 100px;

    background-color: rgba($neutral_1000, 0.9);
    border: 1px solid rgba($white, 0.08);
    border-radius: 15px;

    position: absolute;
    top: 5%;
    overflow: hidden;

    @extend .shadow-splash; 

    z-index: 9;


    @media (min-width: 768px) {
        padding: 30px;
        width: calc(100% - 62px * 2);
    }

    @media (min-width: 1280px) {
        width: calc(1041px - 60px);
    }

    @media (min-width: 2048px) {
        top: 10%;
    }
}

