/* [project]/src/components/main/aboutMe/index.module.scss.module.css [app-client] (css) */
.index-module-scss-module__JfqkbW__heading-128-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 8rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 8rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 8rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 8rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 8rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 8rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 8rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 8rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 8rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 8rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 8rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 8rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 8rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 8rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 8rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-128-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 8rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 6rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 6rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 6rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 6rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 6rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 6rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 6rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 6rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 6rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 6rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 6rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 6rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-96-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 6rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 4rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-64-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 4rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-48-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 3rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-40-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.5rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.25rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.25rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-36-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2.25rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-32-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 2rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-24-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__heading-20-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-24-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.5rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-20-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1.25rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-16-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: 1rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-magra-thin {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: .875rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-mont-thin {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: .875rem;
  font-weight: 100;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-magra-extra_ligth {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: .875rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-mont-extra_ligth {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: .875rem;
  font-weight: 200;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-magra-light {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-mont-light {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: .875rem;
  font-weight: 300;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-magra-regular {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-mont-regular {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: .875rem;
  font-weight: 400;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-magra-medium {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-mont-medium {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: .875rem;
  font-weight: 500;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-magra-semi_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-mont-semi_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: .875rem;
  font-weight: 600;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-magra-bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-mont-bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: .875rem;
  font-weight: 700;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-magra-exta_bold {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: .875rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-mont-exta_bold {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: .875rem;
  font-weight: 800;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-magra-black {
  color: #3a3a3a;
  font-family: Magra, sans-serif;
  font-size: .875rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__body-14-mont-black {
  color: #3a3a3a;
  font-family: Montserrat;
  font-size: .875rem;
  font-weight: 900;
  line-height: 1;
}

.index-module-scss-module__JfqkbW__darkText {
  color: #3a3a3a;
}

.index-module-scss-module__JfqkbW__lightText {
  color: #c2c2c2;
}

.index-module-scss-module__JfqkbW__whiteText {
  color: #fff;
}

.index-module-scss-module__JfqkbW__line-height-1_5x {
  line-height: 1.5;
}

.index-module-scss-module__JfqkbW__aboutMe {
  margin-top: 80px;
}

.index-module-scss-module__JfqkbW__aboutMeData, .index-module-scss-module__JfqkbW__workExperienceWrapper, .index-module-scss-module__JfqkbW__workExperienceItem, .index-module-scss-module__JfqkbW__shortBio {
  flex-direction: column;
  display: flex;
}

.index-module-scss-module__JfqkbW__aboutMeData {
  row-gap: 5px;
  margin-top: 30px;
  margin-bottom: 40px;
}

.index-module-scss-module__JfqkbW__workExperience {
  margin-bottom: 50px;
}

.index-module-scss-module__JfqkbW__workExperienceWrapper {
  row-gap: 40px;
  margin-top: 10px;
}

.index-module-scss-module__JfqkbW__workExperienceItem, .index-module-scss-module__JfqkbW__shortBio {
  row-gap: 10px;
}

/*# sourceMappingURL=src_components_main_aboutMe_index_module_scss_module_css_0w3-wzy._.single.css.map*/