@use './../../../styles/tokens/typography' as *;


.talkingAvatarWrapper {
    display: none;
}


.cloudText {
    @extend .body-24-mont-semi_bold;
}

@media (min-width: 1280px) {
    .talkingAvatarWrapper {
        display: block;

        position: relative;
        z-index: 1;
        bottom: 100px;

        transform: rotate(-15deg);
    }

    .avatarPic,
    .jawPic,
    .indexFingerPic,
    .handPic,
    .cloudPic {
        position: absolute;
    }



    .avatarPic {
        width: 309px;
        height: 465px;
    }

    .jawPic {
        width: 100px;

        top: 260px;
        left: 103px;
    }

    .indexFingerPic {
        width: 194px;
        height: 216px;

        top: 240px;
        right: 350px;
    }

    .handPic {
        width: 158px;
        height: 223px;
        
        left: 280px;
        top: 250px;

        transform: scaleX(-1);

    }

    .cloudPic {
        width: 704px;
        height: 704px;
        z-index: -1;
    }


    .cloudWrapper {
        position: relative;

        display: flex;
        align-items: center;
        justify-content: center;

        z-index: 1;

        left: 140px;
    }
}