@use './../../../styles/tokens/typography' as *;



.preview {
    display: flex;
    justify-content: center;

    height: 350px;

    position: relative;
}


.bgAvatar, .previewAvatar, .avatarFrame, .frameName {
    position: absolute;

    left: 50%;
    top: 50px;

    transform: translateX(-50%);
}

.bgAvatar {
    width: 273px;
    height: 278px;
}

.previewAvatar {
    width: 147px;
    height: 221px;
}

.avatarFrame {
    width: 153px;
    height: 272px;
}


.frameName {
    top: 270px;

    @extend .body-20-magra-regular;
    @extend .darkText;

}


.previewTitle {
    @extend .heading-32-magra-bold;
    @extend .whiteText;

    font-size: 28px;
}