@use './../../../styles/tokens/colors' as *;
@use './../../../styles/tokens/effects' as *;
@use './../../../styles/tokens/typography' as *;


.projectPreview,
.textWrapper, 
.siteNameWrapper,
.textContent {
    display: flex;
    flex-direction: column;
}

.projectPreview {
    gap: 30px;

    @media (min-width: 1280px) {
        flex-direction: row;
        align-items: center;
    }
}

.textContent {
    gap: 10px;

    @media (min-width: 768px) {
        gap: 20px;

        width: 60%;
    }

    @media (min-width: 876px) {
        width: 50%;
    }

    
}
    
.metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;

    @media (min-width: 450px) {
        justify-content: start;
        gap: 20px;
    }
}

.metadataItem {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.divider {
    height: 15px;
    width: 1px;

    background-color: $neutral_700;
}

.metadataText {
    @extend .lightText;
    @extend .body-16-magra-regular;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}


.textWrapper {
    gap: 15px;
}

.siteNameWrapper {
    gap: 10px;
}

.name {
    @extend .whiteText;
    @extend .heading-40-magra-bold;
    @media (min-width: 768px) {
        font-size: 48px;
    }
    
}

.shortDescription,
.subname {
    color: $neutral_400;
}

.subname {
    @extend .heading-24-magra-bold;

    @media (min-width: 768px) {
        font-size: 32px;
    }
}


.shortDescription {
    @extend .body-16-magra-bold;
    @extend .line-height-1_5x;

    @media (min-width: 768px) {
        font-size: 20px;
    }
}


.btnWrapper {
    display: flex;
    gap: 10px;
}


