@use './../../../styles/tokens/colors' as *;
@use './../../../styles/tokens/effects' as *;
@use './../../../styles/tokens/typography' as *;


.projectPreview,
.textWrapper, 
.siteNameWrapper,
.textContent {
    display: flex;
    flex-direction: column;
}

.projectPreview {
    gap: 30px;
}

.textContent {
    gap: 10px;
}
    
.metadata {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.metadataItem {
    display: flex;
    align-items: center;
    column-gap: 10px;
}

.divider {
    height: 15px;
    width: 1px;

    background-color: $neutral_700;
}

.metadataText {
    @extend .lightText;
    @extend .body-16-magra-regular;
}




.textWrapper {
    gap: 15px;
}

.siteNameWrapper {
    gap: 10px;
}

.name {
    @extend .whiteText;
    @extend .heading-40-magra-bold;
}

.shortDescription,
.subname {
    color: $neutral_400;
}

.subname {
    @extend .heading-24-magra-bold;
}


.shortDescription {
    @extend .body-16-magra-bold;
    @extend .line-height-1_5x;
}


.btnWrapper {
    display: flex;
    gap: 10px;
}

.projectWrapPhoto {
    position: relative;
    width: 100%;
    aspect-ratio: 16 / 9; 
    border-radius: 20px;
    overflow: hidden;
}


.projectPhoto {
    object-fit: cover;  
}