@use './../../../../styles/tokens/colors' as *;
@use './../../../../styles/tokens/typography' as *;


.aboutMe {
    margin-top: 80px;

    @media (min-width: 768px) {
        margin-top: 120px;
        margin-bottom: 200px;
    }

    @media (min-width: 1000px) {
        margin-top: 200px;
    }

    @media (min-width: 1280px) {
        margin-top: 0px;
        margin-bottom: 300px;
    }
}


.aboutMeData,
.workExperienceWrapper, 
.workExperienceItem,
.shortBio {
    display: flex;
    flex-direction: column;
}

.aboutMeData {
    margin-top: 30px;
    margin-bottom: 40px;

    row-gap: 5px;

    @media (min-width: 1280px) {
        display: none;
    }
}

.text, .description, .textTitle {
    @extend .body-16-ubuntu-bold;
    @extend .lightText;
    @extend .line-height-1_5x;
}

.description {
    @extend .whiteText;
}

.textTitle {
    @extend .whiteText;
    font-size: 20px;
}

@media (min-width: 768px) {
    .text, .description {
        font-size: 20px;
    }

    .textTitle {
        font-size: 24px;
    }
}


@media (min-width: 1280px) {
    .text, .description {
        font-size: 24px;
    }

    .textTitle {
        font-size: 32px;
    }
}


.workExperience {
    margin-bottom: 50px;
}


.workExperienceWrapper {
    margin-top: 10px;
 
    row-gap: 40px;
}


.workExperienceItem,
.shortBio {
    row-gap: 10px;
}

.workExperienceItemTitle {
    color: $neutral_500;
}

.aboutMeTitle {
    @extend .heading-24-ubuntu-bold;
    @extend .whiteText;

    @media (min-width: 768px) {
        font-size: 32px;
    }

    @media (min-width: 1280px) {
        font-size: 40px;

        margin-bottom: 80px;
    }
}


