@use './../../../styles/tokens/colors' as *;
@use './../../../styles/tokens/effects' as *;
@use './../../../styles/tokens/typography' as *;



.projectItem {
    background-color: $neutral_900;
    aspect-ratio: 3 / 4;

    overflow: hidden;

    
    @extend .radius-12;
    @extend .shadow-xl;


    @media (min-width: 768px) {
        position: absolute;

        aspect-ratio: none; 
        width: 500px; 
        height: 650px; 

        cursor: pointer; 
    }
}


.projectImg {
    width: 100%;
    aspect-ratio: 3/2.5;

    object-fit: cover;
    object-position: left;

    @extend .radius-12;
}


.projectCategory {
    position: absolute;
    
    background-color: $neutral_900;
    
    top: 10px;
    right: 10px;
    
    padding: 5px 20px;
    
    @extend .body-14-magra-bold;
    @extend .whiteText;
    @extend .radius-6;
    @extend .glass;
}


.projectContentContainer {
    padding: 15px;

    display: flex;
    flex-direction: column;
    row-gap: 10px;

    @media (min-width: 600px)  {
        row-gap: 20px;
    }
}

.projectText {
    display: flex;
    flex-direction: column;
    row-gap: 5px;   

    @media (min-width: 600px)  {
        row-gap: 10px;
    }
}


.projectName {
    @extend .body-16-magra-bold;
    @extend .whiteText;

    @media (min-width: 600px)  {
        font-size: 20px;
    }
    
    @media (min-width: 768px) {
        font-size: 24px;
    }
}


.projectDescription {
    @extend .body-16-magra-regular;
    @extend .lightText;

    @media (min-width: 600px)  {
        font-size: 20px;
    }
}


.projectStack { 
    display: flex;
    flex-wrap: wrap;
    gap: 5px;
}


.projectStackItem {
    background-color: $brand_900;
    
    @extend .body-14-magra-regular;
    @extend .radius-4;
    @extend .whiteText;

    display: inline-block;

    padding: 5px;

    @media (min-width: 600px)  {
        font-size: 20px;
        padding: 10px;
    }

     @media (min-width: 768px)  {
        padding: 20px;
        border-radius: 10px;

        font-weight: $bold;
    }
}



