@use './../../../styles/tokens/colors' as *;
@use './../../../styles/tokens/typography' as *;
@use './../../../styles/tokens/effects' as *;





.canvasWrapper {
    position: relative;
    overflow: hidden;
    border-radius: 4px;

    @extend .shadow-inner;

    margin-top: 100px;

    height: 800px;
    
    @media (min-width: 768px) {
        height: 800px;
    }

    @media (min-width: 1200px) {
        height: 1000px;
    }

    @media (min-width: 1440px) {
        height: 1200px;
    }
}

.canvasContainer {
    width: 100%;
    height: 100%;
    overflow: hidden;
    position: relative;
    user-select: none;

    display: flex;
}


.canvasContent {
    position: absolute;
    top: 0;
    left: 0;
    min-width: 100%;
    min-height: 100%;
}

.zoomInfo {
    position: absolute;
    bottom: 20px;
    right: 20px;
   
    padding: 6px 12px;
    pointer-events: none;

    @extend .glass;
    @extend .body-14-mont-medium;
    @extend .whiteText;
    @extend .radius-4;

    z-index: 10;
}


.canvasManual {
    position: absolute;

    bottom: 0;
    left: 0;

    width: 600px;
    height: 200px;
    
    border-top-right-radius: 24px;
    @extend .glass;
    @extend .shadow-lg;
    @extend .body-16-mont-medium;
    @extend .whiteText;

    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    padding-left: 50px;
}


.manualElement {
    display: flex;
    align-items: center;
    column-gap: 15px;
}


.manualKey {
    background: $brand_900;
    border-radius: 5px;

    padding: 10px 20px;
}


.closeManual {
    position: absolute;

    top: 15px;
    right: 25px;

    font-size: 48px;

    font-weight: $regular;

    cursor: pointer;
}

