@use './_reset';

@use './../styles/tokens/colors' as *;
@use './../styles/tokens/typography' as *;
@use './../styles/tokens/effects' as *;


html {
    font-size: 16px;
    overflow-x: hidden;
    max-width: 100%;
    scroll-behavior: smooth;
}


body {
    overflow-x: hidden;
    max-width: 100%;
    position: relative;
}

.container {
    width: calc(100% - 16px * 2);
    margin-left: auto;
    margin-right: auto;

    @media (min-width: 768px) {
        width: calc(100% - 32px * 2);
    }

    @media (min-width: 1280px) {
        width: 1041px;
    }
}


.sectionTitle {
    text-align: center;
}


.copyText {
    position: absolute;
    background-color: $info_600;
    border-radius: 15px;
    padding: 10px 20px;
    color: $white;

    @extend .body-16-mont-bold;
    @extend .glass;
    @extend .shadow-splash;
}


// Admin charts
.recharts-brush-texts {
    display: none;
}


.recharts-responsive-container {
    margin-left: -30px;
    width: 110%;
}

.recharts-cartesian-axis-tick-line {
    display: none;
}