@use './../../../styles/tokens/colors' as *;
@use './../../../styles/tokens/effects' as *;
@use './../../../styles/tokens/typography' as *;



.metrics, 
.metricsWrapper, 
.textWrapper, 
.contentWrapper {
    display: flex;
    flex-direction: column; 
}

.metrics {
    gap: 20px;
    align-items: center;

    margin-top: 40px;
}

.metricsWrapper {
    background-color: $neutral_900;
    width: calc(100% - 60px);
    gap: 40px;

    padding: 30px 25px;
    border-radius: 20px;

    border: 1px solid $neutral_800;

    @extend .shadow-lg;

    @media (min-width: 450px) {
        width: 330px;
    }
}

.metricItem {
    display: flex;
    gap: 10px;

    padding-bottom: 10px;
    border-bottom: 1px solid $neutral_800;

    &:last-child {
        border-bottom: none;
    }
}

.title {
    @extend .heading-24-magra-bold;
    @extend .whiteText;
}

.iconWrapper {
    width: 64px;
    height: 64px;

    display: flex;
    align-items: center;
    justify-content: center;

    background-color: $brand_900;
    border-radius: 10px;
}

.textWrapper {
    gap: 5px;
}

.metricTitle {
    @extend .heading-20-magra-bold;
    @extend .whiteText;
}

.metricText {
    @extend .body-16-magra-bold;
    color: $neutral_400;
}

.contentWrapper {
    gap: 10px;
}
