@use './../../../../styles/tokens/effects' as *;
@use './../../../../styles/tokens/colors' as *;
@use './../../../../styles/tokens/typography' as *;


.section {
    margin-top: 20px;

    @media (min-width: 1280px) {
        margin-top: 0px;
        max-width: 350px;
    }
}

.wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;

    width: 100%;
    min-width: 0;

    gap: 40px;

    @media (min-width: 1280px) {
        height: 350px;
    }
}


.labelWrapper {
    display: inline-flex;
    flex-direction: column;
    
    row-gap: 15px;   
}

.chartWrapper {
    display: flex;
    align-items: center;
    justify-content: center;

    flex: 0 0 160px;

    width: 160px;
    min-width: 160px;
    height: 160px;
    min-height: 160px;

    margin-inline: auto;
}

.itemWrapper {
    display: flex;
    align-items: center;
    column-gap: 15px;
}

.rectangle {
    width: 25px;
    height: 25px;

    border-radius: 5px;
}

.label {
    @extend .body-16-mont-regular;
    @extend .whiteText;

    display: flex;
    align-items: center;
    column-gap: 5px;
}

.name {
    @extend .body-14-mont-regular;
    color: $neutral_500;

    &::first-letter {
        text-transform: uppercase;
    }
}


