@use './../../../styles/tokens/colors' as *;


.noiseWrapper {
    position: fixed;
    background-color: $neutral_1000;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;        
    pointer-events: none; 

    svg {
        width: 100%;
        height: 100%;
    }
}