@use './../../../styles/tokens/colors' as *;
@use './../../../styles/tokens/effects' as *;



.slider {
    margin-top: 40px;
}

.swiper-slide-active {
    transform: unset !important;; 

}


.sliderItem {
    @extend .radius-12;

        @media (min-width: 768px) {
            width: auto !important;
        }
}
