@use './../../assets/styles/__variables' as vars;


.footer {
    display: flex;
    justify-content: space-between;
    margin-top: 500px;
    margin-bottom: 100px;
}


.footerElement {
    display: flex;
    align-items: center;
    column-gap: 20px;
}