@use './tokens/colors' as *;
@use './tokens/typography' as *;
@use './tokens/effects' as *;



html {
    font-size: 16px;
    overflow-x: hidden;
    max-width: 100%;
}

body {
    height: 2000px;

    overflow-x: hidden;
    max-width: 100%;
    position: relative;
    
}

.container {
    width: calc(100% - 16px * 2);
    margin: 0 auto;
}


// ------------------------------------------ Button ----------------------------------- 
.btn {
    display: flex;
    align-items: center;
    justify-content: center;    

    background-image: url('./../images/button/bg_medium_btn.png');
    background-size: cover;

    width: 152px;
    height: 40px;
}


.btnText {
    padding-right: 20px;
}
// -----------------------------------------------------------------------------------------


.sectionTitle {
    text-align: center;
}